

.home-container{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}


.home-text-container{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 50%;
}

.home-title{
    position: relative;
    color: var(--title-color);
    letter-spacing: 1px;
    font-size: 2.5rem;
    font-weight: var(--font-semi-bold);
}

.home-title::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    animation: moveToRight 1s ease forwards;
    animation-delay: 1s;
}

.home-intro{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home-intro::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    animation: moveToRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-intro div{
    width: 15%;
    height: 1.5px;
    opacity: 0.8;
    background-color: var(--btn-color);
    margin-right: 1rem;
}

.home-intro div::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    animation: moveToRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-intro span{
    font-weight: var(--font-medium);
    color:var(--btn-color);
    font-size: 18px;
    letter-spacing: 0.8px;
}

.home-desc{
    position: relative;
    color: var(--title-color);
    font-weight: var(--font-normal);
    line-height: 1.6rem;
    letter-spacing: 0.8px;
    opacity: 0.8;
}

.home-desc::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    animation: moveToRight 1s ease forwards;
    animation-delay: 1.6s;
}



.home-image{
    width: 350px;
    height: 350px;
    border-radius: 45%;
    background-image: url(/src/assets/Profile1.jpg);
    filter:brightness(70%);
    box-shadow: inset 0 0 10px 2px var(--btn-color), 0 0 10px 0px #081b29;
    margin-top: -2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: profile-anime 8s ease-in-out infinite 1.5s;
}

.home-image-container{
    width: 350px;
    height: 350px;
    animation: scaleP 1.2s ease-in-out;
}






@media (max-width:1120px){

    .home-title{
        font-size: 2rem;
    }

    .home-image, .home-image-container{
        width: 300px;
        height: 300px;
    }

}


@media (max-width:950px){

    
    .home-container{
        display: flex;
        flex-direction: column-reverse;
        column-gap: 4rem;
    }    

    .home-text-container{
        text-align: center;
    }

    .home-text-container{
        width: 80%;
        margin-inline: auto;
    }

    .home-image, .home-image-container{
        width: 280px;
        height: 280px;
        margin: auto;
    }

    .home-intro{
        justify-content: center;
    }

    .home-title{
        font-size: 1.8rem;
    }

    .btn{
        padding: 0.7rem 1.4rem;
    }


}

@media (max-width:550px){

    .home-image,.home-image-container{
        width: 280px;
        height: 280px;
    }

    .home-title{
        font-size: 1.5rem;
    }

    .btn{
        padding: 0.5rem 1.2rem;
    }


}

@media (max-width:420px){

    .home-image,.home-image-container{
        width: 260px;
        height: 260px;
    }

    .home-title{
        font-size: 1.3rem;
    }

    .btn{
        padding: 0.4rem 1.1rem;
    }


}